.comments-wrapper {
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 25px;
  margin: 30px auto;
  max-width: 700px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: 'Arial', sans-serif;
}

h3 {
  color: #333;
  font-size: 26px;
  margin-bottom: 15px;
  text-align: center;
}

.comment-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  margin: 15px 0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

#comment-date {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-card-comment {
  display: flex;
  justify-content: flex-start;
}

.comment-input {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field,
.textarea-field {
  width: 100%;
  max-width: 450px;
  padding: 14px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.input-field:focus,
.textarea-field:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.textarea-field {
  height: 100px;
}

.submit-button {
  background-color: #5f93ca;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  align-self: center;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-3px);

  
}

.error-message {
  color: red; 
  margin-bottom: 10px;
}

.comment-display {
  margin-top: 25px;
}
