.drink-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
}

.drink-card{
    max-width: 279px;
    height: fit-content;
    margin: 1rem;
    text-decoration: none;
    color: inherit;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.drink-image-container{
    width: 100%;
    max-height: 279px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}
.drink-image-container img{
    aspect-ratio: 1 / 1;
    width: 279px;
    height: 279px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.drink-title{
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
    text-align: left;
    font-size: 1.5rem;
}

.drink-icon-info-div{
    text-align: left;
    padding: .5rem 1rem .5rem 1rem;
}
.drink-icon-info-div span{
    margin: 0;
    margin-right: 1rem;
}

.drink-rating-div{
    padding: .5rem 1rem .8rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    text-align: left;
}

.drink-card:hover .drink-image-container img {
    transform: scale(1.1); 
}

.drink-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (min-width: 700px) {
    .drink-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 599px) {
    .drink-grid {
        grid-template-columns: 1fr; 
    }
}