:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: rgba(255, 255, 255, 0.249);
}

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center; 
  
}

.content-wrapper{
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  background-color: #fffaf5;
  
}

body.vinter {
  background-image: url(winter-1898134_1280.jpg);
  background-size: cover;
}

body.vår {
  background-image: url(japanese-cherry-blossom-2168858_1280.jpg);
  background-size: cover;
  position: relative;
  margin: 0;
}

body.sommar {
  background-image: url(meadow-daisies-474255_1280.jpg); 
  background-size: cover;
}

body.höst {
  background-image: url(road-1072821_1920.jpg);
  background-size: cover;
}