:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background-color: rgba(255, 255, 255, 0.192);
}

body {
  font-family: "Poiret One", sans-serif;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.content-wrapper{
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  background-color: #fffaf5;
  
}

body.vinter {
  background-image: url(todd-diemer-67t2GJcD5PI-unsplash.jpg);
  background-size: cover;
}

body.vår {
  background-image: url(cosmos-flowers-1138041_1920.jpg);
  background-size: cover;
  position: relative;
  margin: 0;
}

body.sommar {
  background-image: url(summer.jpg); 
  background-size: cover;
}

body.höst {
  background-image: url(kristian-seedorff-BvUicqkaZZ0-unsplash.jpg);
  background-size: cover;
}
