.ingredients{
    display: flex;
    flex-direction: column;
    text-align: left;
    box-sizing: border-box;
    width: fit-content;
    background-color: rgb(249, 248, 248);
    box-shadow: 5px 5px 8px rgb(207, 207, 207);
    border-radius: 5px;
    margin: 20px;
    min-width: fit-content;
    max-height: fit-content;
}

.header{
    display: flex;
    margin-bottom: 0;
}

.ingredients ul{
    list-style-type:none;
    padding: 5px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-top: 0;
    font-weight: 400;
}

.ingredients li{
    margin: 5px;
}

.title{
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
}

.glasses{
    display: flex;
    align-items: center;
    margin: 5px;
}

.glasses button{
    margin: 2px;
    padding: 2px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(249, 248, 248);

}

.glasses button:hover{
    transform: scale(1.3);
}

.glasses p{
    margin: 5px;
    font-weight: 600;
}

.instructions{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
}

.instructions ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
}

.instructions li{
    margin: 10px;
    padding: 10px;
    background-color: rgb(249, 248, 248);
    box-shadow: 5px 5px 8px rgb(207, 207, 207);
    border-radius: 5px;
    min-width: fit-content;

}

span{
    margin: 8px;
}

.todo h3{
    display: flex;
    margin: 10px;
    margin-left: 20px;
    font-size: 20px;
    
}

.box{
    margin: 5px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    accent-color: rgb(101, 211, 117);
    cursor: pointer;
}

li input[type="checkbox"]:checked + span{
    color: rgb(147, 147, 147);
    text-decoration: line-through;
}

.box:hover{
    transform: scale(1.2);
}

@media (min-width: 650px){
    .recipeContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
}

.rating{
    color: plum;
}

.MuiRating-decimal{
    margin: 0;
}

.MuiRating-icon{
    margin: 2px;
    font-size: 20px;
}

.MuiRating-icon.MuiRating-iconFilled{
    color: rgb(216, 165, 238);
}

span{
    margin: 0;
}

.message{
    color: black;
}