.recipe-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.recipe-card-image img{
    padding: 1rem;
    max-width: 300px;
}
.recipe-card-text{
    padding: 1rem;
    min-width: 100px;
}