.search-button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease;
}
.search-button svg{
    stroke: #000000;
    transition: stroke 0.2s ease;
}
.search-button:hover{
    background-color: #e9c0db;

}
.search-button:hover svg{
    stroke: #ffffff;
}

.search-button-open{
    background-color: #e2e2e2;
    width: 30px;
    height: 30px;
}
.search-button-open:hover{
    background-color: #e2e2e2;
}
.search-button-open:hover svg{
    stroke: #000000;
}

.search-form {
    flex-grow: 1;
    display: flex;
    justify-content: right; 
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.search-input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #e2e2e2;
}
.search-input {
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    padding: 6px 10px 6px 20px;
    border: 1px solid #e2e2e2;
}

@media (min-width: 655px) {
    .search-input {
        width: 300px;
    }
}